name: Perl CI

on:
  push:
    branches: [ "master", "ci" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['windows-latest']
        perl:
          - '5.32'
          - '5.36'
          - '5.38.2'  # should be '5.38', but '5.38.4' strawberry zip is missing from shogo82148
          - '5.40'
          - '5.42'
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        id: setup
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry
          install-modules-with: cpanm
      - run: |
          $env:PATH
          Get-Command perl -All | Format-Table CommandType, Name, Definition
      - run: perl Makefile.PL
      - run: gmake
      - run: prove -b -v
